body {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
  /* height: min(297mm, 100vh); */
  /* height: 297mm; */
}

a,
a:visited,
a:hover,
a:active {
  color: #4f46e5;
}

.li-1 {
  display: flex;
  align-items: baseline;
  margin: 0 0 8px;
  height: 14px;

  & > div:first-child {
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  & img {
    height: 18px;
    margin-left: 2px;
  }

  & > b {
    margin-left: 2px;
    margin-right: 4px;
  }
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center-align {
  display: flex;
  align-items: center;
}
