:root {
  --color-blue-1: rgb(50, 50, 240);
  font-size: 11pt;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  /* height: min(297mm, 100vh); */
  /* height: 297mm; */
}

.A4 {
  width: 210mm;
  /* Toggle border to show margins after print */
  /* border: 1px solid black; */
  padding: 2rem 4rem;

  background-color: white;
  min-height: 99vh;
}

a,
a:visited,
a:hover,
a:active {
  /* https://stackoverflow.com/questions/1929618/set-visited-link-color-to-whatever-the-color-of-un-visited-link-is-p-s-not-the */
  /* color: inherit; */
  color: #4f46e5;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center-align {
  display: flex;
  align-items: center;
}

.icon-1 {
  height: 20px;
  margin-right: 4px;
}

.margin-0 {
  margin: 0;
}

.margin-left-1 {
  margin-left: 2rem;
}

.work-exp-whole-item {
  /* margin-left: 2rem; */
  margin-bottom: 2rem;
}

.work-exp-whole-item > * {
  margin-bottom: 6px;
}

.work-exp-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.work-exp-company-logo-container {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center start;
}

.work-exp-company-logo {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.work-exp-duration {
  color: gray;
}

#section-work-experience h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.skill-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill-ul > li {
  margin-top: 8px;
}

main > section {
  margin-top: 3rem;
  border-top: 1px solid gray;
  padding-top: 4px;
}

main > section:first-of-type {
  margin-top: 1rem;
}

.section-heading {
  margin-top: 0;
  margin-bottom: 1rem;
}
